/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabecera */
header {
    background-color: #e20909;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Secciones */
section {
    padding: 40px;
    color: white;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}

/* Colores de cada sección */
#inicio {
    background-color: #0074D9; /* Azul */
}

#bibliografia {
    background-color: #FF851B; /* Naranja */
}

#habilidades {
    background-color: #2ECC40; /* Verde */
}

#proyectos {
    background-color: #FF4136; /* Rojo */
}

#contacto {
    background-color: #B10DC9; /* Morado */
}

/* Estilos específicos para habilidades */
.skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills div {
    flex: 1 1 30%;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Proyectos */
.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projects div {
    flex: 1 1 45%;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Formulario de contacto */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form textarea {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}

/* Pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
